{% extends "base.html" %}
{% load static %}
{% block 'title' %}Escolher horário{% endblock 'title'%}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'medicos/css/abrir_horario.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
    <link rel="stylesheet" href="{% static 'pacientes/css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock 'head' %}


{% block 'body' %}
    <div class="container">
        <br><br>
            <div class="col-md-auto">
                <div class="row">
                    <div class="col-md-2"><img src="{{medico.foto.url}}" class="foto-perfil-card" alt="foto_medico"></div>
                    <div class="col-md-8">
                        <p style="font-size: 20px" class="p-bold">Dr(a). {{medico.nome}} <i class="bi bi-patch-check-fill icon-main"></i></p>
                        <p>{{medico.descricao}}</p>
                    </div>
                </div> 
                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <hr>
                <div class="row">
                    {% for dt in datas_abertas %}
                        <div class="col-md-3">
                            <a class="link" href=""> 
                                {% comment %} TODO {% endcomment %}
                            <div class='selecionar-dia'>
                            <div class="header-dias">
                                <span class="mes">
                                {{dt.data|date:"F"}}
                                </span>
                                
                                <span class="dia-semana">
                                {{dt.data|date:"l"}}
                                </span>
                            </div>
            
                            <div class="conteudo-data">
                                {{dt.data}}
                            </div>
                            </div>
                            </a>
                            <br>
                        </div>
                        {% endfor %}                    
                </div>
            </div>
    </div>
{% endblock 'body' %}